<form action="/control" method="post">
post to Sinatra:
  <input type="submit" value="make it fail" />
</form>

websocket emit to Node:
<input type="button" id="huge_success" value="HUGE SUCCESS" />
<input type="button" id="sidebar_load" value="test" />

<pre id="received"></pre>
<script src="http://10.1.10.11:<%= BRIDGE["stream_port"] %>/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://10.1.10.11:<%= BRIDGE["stream_port"] %>');
  document.querySelector('#huge_success').addEventListener('click', function(){
    socket.emit('huge success');
  });
  document.querySelector('#sidebar_load').addEventListener('click', function(){
    socket.emit('sidebar');
  });
</script>
