<!doctype html>
<html lang="en" style="overflow: hidden;">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
  <script src="/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <%= yield %>
</body>

</html>